<div class="conteudo-dashboard min-height-index-padrao-600px">
    <div class="div-cabeca-index text-center">
        <div class="label-org-index"> Cadastros </div>
    </div>
    <div class="div_dashboards_index">
        <%= link_to 'Empresas'           , empresas_path()       , class: "background-dashboard-hover" %>
        <%= link_to 'Ingredientes'       , ingredientes_path()   , class: "background-dashboard-hover" %>
        <%= link_to 'Painel de controle' , dashboards_path()     , class: "background-dashboard-hover" %> 
        <%= link_to 'Parceiros'          , parceiros_path()      , class: "background-dashboard-hover" %>   
        <%= link_to 'Produtos'           , produtos_path()       , class: "background-dashboard-hover" %>    
        <%= link_to 'Unidades de medidas', unidade_medidas_path(), class: "background-dashboard-hover" %>
        <%= link_to 'Usuários'           , usuarios_path()       , class: "background-dashboard-hover" %>
    </div>
</div>