<div class="conteudo show-classes">
    <div class="div-cabeca">
        <div class="label-org"> Classe produto: (<%= @classe.nome %>) </div>
        <div class="botoes-org">
            <%= link_to 'Excluir', class_path(@classe.id), data: { confirm: 'Deseja excluir este usuário permanentemente?' }, method: :delete, class:'btn btn-danger' %>
            <%= link_to 'Editar', edit_class_path(@classe.id, { show: "show"}), class:'btn btn-light' %>
            <%= link_to 'Novo registro', new_class_path({ show: "novo", classe: @classe}), class:'btn btn-success' %>
        </div>
    </div>
    <table class="tabela-lado-lado mt-12px">
        <tbody>            
            <tr>
                <td class="td-index-esquerda"> Nome: </td>
                <td class="td-index-direita"> <%= @classe.nome %> </td>
            </tr>          
        </tbody>
    </table>
</div>