<%= form_for @parceiro, validate:true, html: { multipart: true }  do |u| %>

    <% if @parceiro.errors.any? %>
        <div class="fundo_erro">
            <h2 class="text-center">Revise as informações abaixo: </h2>
            <p> </p>
            <ul>
            <% @parceiro.errors.full_messages.each do |msg| %>
            <li><%= msg.humanize %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
 
    <table style="width: 100%;">
        <tbody style="width: 100%;">        
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :nome, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :nome, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "Serviço prestado", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :servico_prestado, class: 'form-control focus-padrao', style: 'width: 100%;' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :logo_parc, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.file_field :logo_parc, class: 'focus-padrao', style: 'width: 100%; font-size: 13px' %>
                </td>
            </tr>  
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "CNPJ", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :cnpj, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>            
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :email, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :email, class: 'form-control focus-padrao', style: 'width: 100%;' %>
                </td>
            </tr>
             <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :telefone, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :telefone, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>                 
        </tbody>
    </table>

    <hr class="hr-system-100por">

    <div class='width-100por text-center'>
        <%= u.submit 'Cadastrar', class: 'text-center btn botao-cor-padrao' %>
    </div>

<% end %>