<table class="tabela-lado-lado">
    <tbody>
        <tr>
            <td class="td-index-esquerda"> Foto: </td>
            <td class="td-index-direita"> <%= image_tag @produto.foto.url(:normal) %> </td>
        </tr>
        <tr>
            <td class="td-index-esquerda"> Nome: </td>
            <td class="td-index-direita"> <%= @produto.nome %> </td>
        </tr>
        <tr>
            <td class="td-index-esquerda"> Descrição: </td>
            <td class="td-index-direita"> <%= @produto.descricao %> </td>
        </tr>
        <tr>
            <td class="td-index-esquerda"> Peso: </td>
            <td class="td-index-direita"> <%= @produto.valor_unidade_medida.to_s + ' ' + @produto.unidade_medida.nome %> </td>
        </tr>
        <tr>
            <td class="td-index-esquerda"> Data de fabricação: </td>
            <td class="td-index-direita"> <%= @produto.data_fabricacao.strftime("%m/%d/%Y") %> </td>
        </tr>
        <tr>
            <td class="td-index-esquerda"> Data de validade: </td>
            <td class="td-index-direita"> <%= @produto.data_validade.strftime("%m/%d/%Y") %> </td>
        </tr>
        <tr>
            <td class="td-index-esquerda"> Código de barras: </td>
            <td class="td-index-direita"> <%= @produto.codigo_de_barras %> </td>
        </tr>
        <% if @usuario_logado != nil %>
            <% if @usuario_logado.admin || @usuario_logado.gerente %>
            <tr>
                <td class="td-index-esquerda"> Quantidade: </td>
                <td class="td-index-direita"> <%= @produto.quantidade  %> </td>
            </tr>
            <% end %>
        <% end %>
        <tr>
            <td class="td-index-esquerda"> Preço: </td>
            <td class="td-index-direita"> <%= @produto.preco.to_currency(Currency::BRL) %> </td>
        </tr>
        <tr>
            <td class="td-index-esquerda"> Estrelas: </td>
            <td class="td-index-direita"> <%= @produto.estrela %> </td>
        </tr>
        <tr>
            <td class="td-index-esquerda"> Promoção: </td>
            <td class="td-index-direita"> <%= @produto.promocao ? ico_yes(class: 'fa-14') : ico_no(class: 'fa-14')  %> </td>
        </tr>
        <% if @produto.promocao %>
            <tr>
                <td class="td-index-esquerda"> Valor da promoção: </td>
                <td class="td-index-direita"> <%= @produto.valor_promocao.to_currency(Currency::BRL) %> </td>
            </tr>
        <% end %>
    </tbody>
</table>