<%= form_for @produto, validate:true, html: { multipart: true }  do |u| %>

    <% if @produto.errors.any? %>
        <div class="fundo_erro">
            <h2 class="text-center">Revise as informações abaixo: </h2>
            <p> </p>
            <ul>
            <% @produto.errors.full_messages.each do |msg| %>
            <li><%= msg.humanize %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <table style="width: 100%;">
        <tbody style="width: 100%;">
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :nome, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :nome, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "Descrição", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :descricao, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label 'Valor(UM)', class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :valor_unidade_medida, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "Unidade de medida", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="<%= 'pb-6px' if UnidadeMedida.any? %>">
                    <% if UnidadeMedida.any? %>
                        <%= u.select(:unidade_medida_id, UnidadeMedida.all.collect {|p| [ p.nome, p.id ] }, {include_blank: true}, class: 'form-control focus-padrao', style: 'width: 100%;')%>
                    <% else %>
                        <div style="color: red">Nenhuma empresa foi cadastrada.</div>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :foto, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.file_field :foto, class: 'focus-padrao', style: 'width: 100%; font-size: 13px' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "Data de Fabricação", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.date_field :data_fabricacao, class: 'form-control focus-padrao', style: 'width: 100%;' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "Data de Validade", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.date_field :data_validade, class: 'form-control focus-padrao', style: 'width: 100%;' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "Código de barras", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :codigo_de_barras, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :quantidade, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :quantidade, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "Preço", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :preco, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :estrela, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :estrela, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :promocao, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px pt-9px">
                    <%= u.check_box :promocao, class: 'focus-check', id: 'check_box_promocao' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :valor_promocao, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :valor_promocao, class: 'form-control focus-padrao', style: 'width: 100%; pointer-events: none; background-color: #D5DBD5', id: 'text_field_promocao' %>
                </td>
            </tr>
            <% if @usuario_logado != nil %>
                <% if @usuario_logado.admin %>
                    <tr>
                        <td class="text-right alinhamento-label-form">
                            <%= u.label :criado_por, class: 'text-right', style: 'width: 170px' %>
                        </td>
                        <td class="pb-6px">
                            <%= u.text_field :criado_por, class: 'form-control focus-padrao', style: 'width: 100%; pointer-events: none; background-color: #D5DBD5', id: 'text_field_promocao', value: "#{@usuario_logado.nome}" %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>

    <hr class="hr-system-100por">

    <div class='width-100por text-center'>
        <%= u.submit 'Cadastrar', class: 'text-center btn botao-cor-padrao' %>
    </div>

<% end %>

<script>
$(document).ready(function() {

    $('#check_box_promocao').change(function() {
        if(this.checked) {
            $('#text_field_promocao').css('pointer-events', 'all');
            $('#text_field_promocao').css('background-color', 'white');
        }else {
            $('#text_field_promocao').css('pointer-events', 'none');
            $('#text_field_promocao').css('background-color', '#D5DBD5');
            $('#text_field_promocao').val('')
        }        
    });
});
</script>