<%= form_for @produto, validate:true do |u| %>

    <% if @produto.errors.any? %>
        <div class="fundo_erro">
            <h2 class="text-center">Revise as informações abaixo: </h2>
            <p> </p>
            <ul>
            <% @produto.errors.full_messages.each do |msg| %>
            <li><%= msg.humanize %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <table style="width: 100%;">
        <tbody style="width: 100%;">
            <tr>
                <td class="txt-alg-rig alinhamento-label-form">
                    <%= u.label :nome, class: 'txt-alg-rig', style: 'width: 80px' %>
                </td>
                <td>
                    <%= u.text_field :nome, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="txt-alg-rig alinhamento-label-form">
                    <%= u.label :descricao, class: 'txt-alg-rig', style: 'width: 80px' %>
                </td>
                <td>
                    <%= u.text_field :descricao, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="txt-alg-rig alinhamento-label-form">
                    <%= u.label :data_fabricacao, class: 'txt-alg-rig', style: 'width: 80px' %>
                </td>
                <td style="padding-bottom: 6px!important;">
                    <%= u.date_field :data_fabricacao, class: 'form-control focus-padrao', style: 'width: 100%;' %>
                </td>
            </tr>
            <tr>
                <td class="txt-alg-rig alinhamento-label-form">
                    <%= u.label :data_validade, class: 'txt-alg-rig', style: 'width: 80px' %>
                </td>
                <td style="padding-bottom: 6px!important;">
                    <%= u.date_field :data_validade, class: 'form-control focus-padrao', style: 'width: 100%;' %>
                </td>
            </tr>
            <tr>
                <td class="txt-alg-rig alinhamento-label-form">
                    <%= u.label :codigo_de_barras, class: 'txt-alg-rig', style: 'width: 80px' %>
                </td>
                <td>
                    <%= u.text_field :codigo_de_barras, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="txt-alg-rig alinhamento-label-form">
                    <%= u.label :quantidade, class: 'txt-alg-rig', style: 'width: 80px' %>
                </td>
                <td>
                    <%= u.text_field :quantidade, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="txt-alg-rig alinhamento-label-form">
                    <%= u.label :preco, class: 'txt-alg-rig', style: 'width: 80px' %>
                </td>
                <td>
                    <%= u.text_field :preco, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
        </tbody>
    </table>

    <hr class="hr-system-100-por">

    <div class='wid-100p txt-alg-cen'>
        <%= u.submit 'Cadastrar', class: 'txt-alg-cen btn botao-cor-padrao' %>
    </div>

<% end %>