<table class="table_index mb-10px">
    <tbody>
        <tr class="tr-border-1px">
            <td>
                <div class="mb-10px margin-center">
                    <div class="ing_associ_titulo">
                        Ingredientes associados
                    </div>
                    <% if @usuario_logado != nil && @usuario_logado.admin || @usuario_logado.gerente %>
                            <div class="div-form-associ">
                                <% @produto = Produto.where(id: params[:format]).first if @produto == nil && params[:format] != nil %>
                                <% @produto = Produto.where(id: params[:produto]).first if @produto == nil && params[:produto] != nil %>
                                <%= form_tag(adicionar_ingrediente_path(), remote: true) do %>
                                    <%= hidden_field_tag(:produto, {}, value: @produto.id) %>
                                    <%= select_tag "Ingrediente", options_from_collection_for_select(@ingredientes, "id", "nome"), class: 'btn btn-padrao select-padrao' %>
                                    <%= submit_tag 'Add', class:'btn btn-success' %>
                                <% end %>
                            </div>
                    <% else %>
                        <div style="width: 100%;height: 25px"></div>
                    <% end %>
                    <table class="table_index tabela-ing-associ">
                        <% if @ingredientes_produto.blank? %>
                            <tr class="tr-border-1px">
                                <td colspan="2" class="nao_ha_registros padding-10px">
                                    Não há registros
                                </td>
                            </tr>
                        <% else %>
                            <thead>
                                <tr class="tr_table_index pl-10px">
                                    <th style="border: 1px solid #53060688;padding:5px;padding-left:10px">
                                        Nome
                                    </th>
                                    <% if @usuario_logado != nil && @usuario_logado.admin || @usuario_logado.gerente %>
                                        <th style="border: 1px solid #53060688;padding:5px;width:30px">
                                            Excluir
                                        </th>
                                    <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <% @ingredientes_produto.each do |ing_prod| %>    
                                    <tr style="border: 1px solid #53060688;">
                                        <td style="padding:5px;border: 1px solid #53060688">
                                            <%= ing_prod.first.nome %>
                                        </td>
                                        <% if @usuario_logado != nil && @usuario_logado.admin || @usuario_logado.gerente %>
                                            <td class="text-center" style="padding:5px;border: 1px solid #53060688">
                                                <%= link_to(fa_icon('trash'), excluir_ingrediente_path(ing_prod.first.id, @produto), remote: true, method: :delete, data: { confirm: 'Deseja excluir este usuário permanentemente?' }, class: 'trash' ) %>
                                            </td>
                                        <% end %>
                                    </tr>    
                                <% end %>
                            </tbody>
                        <% end %>
                    </table>
                </div>
            <td> 
        </tr>
    </tbody>
</table>