<table class="tabela-lado-lado">
    <tbody>
        <tr>
            <td>
                <button id="hide_and_show_ing_on_prod" class="btn btn-padrao">Adicionar novo ingrediente</button>
            </td>
        </tr>
        <tr>
            <td>
                <%= form_tag(adicionar_ingrediente_path()) do %>
                    <%# hidden_field_tag(:escopo, {}, value: 'm') %>
                    <%# hidden_field_tag('registros[]', {}, value: @movimento.id) %>
                    <%= hidden_field_tag(:produto, {}, value: @produto.id) %>
                    <%= select_tag "Ingrediente", options_from_collection_for_select(@ingredientes, "id", "nome"), class: 'btn btn-primary' %>
                    <%= submit_tag 'Add', remote: true, data: { disable_with: "Submitting...", class:'btn btn-success' } %>
                <% end %>
            </td>
        </tr>
        <div class="width-80por" id="ingredientes_produto">
            <%= render('ingredientes_produto') %>
        </div>
    </tbody>
</table>

<script>
$("#hide_and_show_ing_on_prod").click(function(){
    $("#ingrediente_select_toggle").show();
    $("#btn_add").show();
});
</script>