<div class="container">
    <% if @produtos.blank? %>
    <div class="nao_ha_registros">
        Não há produtos disponíveis
    </div>
    <% else %>
    <% @produtos.each do |produto| %>
    <div class="product-grid3">
        <div class="product-image3">
            <a href="#">
                <%= image_tag produto.foto.url(:loja), class: 'pic-1', style: 'height: 250px; width: 200px' %>
                <%= image_tag produto.foto.url(:loja), class: 'pic-2', style: 'height: 250px; width: 200px' %>
            </a>
            <ul class="social">
                <li><%= link_to '', comprar_produto_path(produto: produto), class: 'fa fa-shopping-bag' %></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <% if ((Time.now.to_f * 1000).floor - (produto.created_at.to_f * 1000).floor) <= 86400000 %>
                <span class="product-new-label">Novo</span>
            <% end %>
        </div>
        <div class="product-content">
            <h3 class="title">
                <%= link_to produto.nome, produto_path(produto), class: 'link-azul' %>
            </h3>
            <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
                <li class="fa fa-star disable"></li>
            </ul>
            <div class="price">
                <% if produto.promocao %>
                    <%= produto.valor_promocao.to_currency(Currency::BRL) %>
                    <span><%= produto.preco.to_currency(Currency::BRL) %></span>
                <% else %>
                    <%= produto.preco.to_currency(Currency::BRL) %>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
    <% end %>
</div>


