<div class="tab_container ml-15px">
    <ul class="tabs">
        <li id="produto_dados" class="tab-link current" onclick="current_dados()">
            <%= 'Dados' %>
        </li>
    </ul>
</div>
<div class="tab_container">
    <ul class="tabs">
        <li id="produto_ingredientes" class="tab-link" onclick="current_ingredientes()">
            <%= 'Ingredientes' %>
        </li>
    </ul>
</div>
<% if @usuario_logado != nil && @usuario_logado.admin || @usuario_logado.gerente %>
    <div class="tab_container">
        <ul class="tabs">
            <li id="produto_infos" class="tab-link" onclick="current_infos()">
                <%= 'infos' %>
            </li>
        </ul>
    </div>
<% end %>

<script>

$(document).ready(function(){
    $('#conteudo_show_prod').html( "<%= escape_javascript(render( :partial => 'dados' )) %>" )
});

function current_dados() {
    $('#produto_dados').addClass('current')
    $('#produto_ingredientes').removeClass('current');
    $('#produto_infos').removeClass('current');
    $('#conteudo_show_prod').html( "<%= escape_javascript(render( :partial => 'dados' )) %>" )
}

function current_ingredientes() {
    $('#produto_ingredientes').addClass('current')
    $('#produto_dados').removeClass('current');
    $('#produto_infos').removeClass('current');
    $('#conteudo_show_prod').html( "<%= escape_javascript(render( :partial => 'ingredientes' )) %>" )
}

function current_infos() {
    $('#produto_infos').addClass('current')
    $('#produto_dados').removeClass('current');
    $('#produto_ingredientes').removeClass('current');
    $('#conteudo_show_prod').html( "<%= escape_javascript(render( :partial => 'infos' )) %>" )
}

</script>