<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="carousel slide" data-ride="carousel" id="carousel-1">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active"><%= image_tag @produto.foto.url(:compra) %></div>
                    <div class="carousel-item"><%= image_tag @produto.foto.url(:compra) %></div>
                    <div class="carousel-item"><%= image_tag @produto.foto.url(:compra) %></div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
        <div class="col-md-7">
            <h4><%= @produto.nome %></h4>
            <% if @produto.promocao %>
                <span class="mr-2">
                    <%= @produto.valor_promocao.to_currency(Currency::BRL) %>
                </span>
                <span class="mr-2 cut" style="color: gray">
                    <%= @produto.preco.to_currency(Currency::BRL) %>
                </span>
            <% else %>
                <span class="mr-2">
                    <%= @produto.preco.to_currency(Currency::BRL) %>
                </span>
            <% end %>
            <div class="d-flex flex-row">
                <ul class="rating" style="padding-left: 0px;">
                    <li class="fa fa-star" style="color: yellow"></li>
                    <li class="fa fa-star" style="color: yellow"></li>
                    <li class="fa fa-star" style="color: yellow"></li>
                    <li class="fa fa-star disable"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
            </div>
            <h6 style="text-align: justify;"> <%= @produto.descricao %> </h6>
            <div class="d-flex align-items-center mt-4 offers mb-1"><i class="fa fa-check-square-o mt-1"></i><span class="ml-1 font-weight-bold">Ofertas</span><span class="ml-1">Desconto instantâneo de 20% no pãodaria card<br></span></div>
            <div class="d-flex align-items-center offers mb-1"><i class="fa fa-check-square-o mt-1"></i><span class="ml-1 font-weight-bold">Ofertas</span><span class="ml-1">Cashback ilimitado de 5% no cartão de crédito do banco Axis<br></span></div>
            <div class="d-flex align-items-center offers mb-1"><i class="fa fa-check-square-o mt-1"></i><span class="ml-1 font-weight-bold">Ofertas</span><span class="ml-1">Desconto de 5% extra com cartão de crédito Nubank<br></span></div>
            <div class="d-flex align-items-center offers"><i class="fa fa-check-square-o mt-1"></i><span class="ml-1 font-weight-bold">Ofertas</span><span class="ml-1">Desconto de 20% no pagamento com cartões google<br></span></div>
            <div class="d-flex align-items-center mt-5 delivery"><i class="fa fa-map-marker"></i><span class="ml-2">Entregue em até 5 dias úteis<br></span><span class="ml-2 mr-2">|<br></span><span class="ml-2 mr-2 text-success">Grátis<br></span></div>
            <hr>
            <div class="mt-3"><button class="btn btn-dark mr-2" type="button">Adicionar ao carinho</button><%= link_to 'Comprar agora', comprar_agora_path(:produto => @produto, :format => :pdf), class: 'btn btn-success' %></div>
        </div>
    </div>
</div>