<div class="conteudo min-height-index-padrao-600px">
    <div class="div-cabeca-index" style="text-align: center">
        <div class="label-org-index pl-35px"> Produtos </div>
        <div class="botoes-org-index-prod">
            <%= link_to 'Novo registro', new_produto_path, class:'btn btn-success' %>
            <%= link_to 'Logs'         , logs_path       , class:'btn btn-primary' %>
        </div>
    </div>
    <table class="table_index" style="<%= 'margin-top: 13px!important' unless @produtos.blank? %>">
        <% if @produtos.blank? %>
            <tr>
                <td colspan="2" class="nao_ha_registros">
                    Não há registros
                </td>
            </tr>
        <% else %>
            <thead>
                <tr>
                    <th  class="tr_table_index text-center">ID</th>
                    <th  class="tr_table_index text-center">Nome</th>
                    <th  class="tr_table_index text-center">Descrição</th>
                    <th  class="tr_table_index text-center">Data de Cadastro</th>
                    <th  class="tr_table_index text-center">Data de fabricação</th>
                    <th  class="tr_table_index text-center">Data de validade</th>
                    <th  class="tr_table_index text-center">Código de barras</th>
                    <th  class="tr_table_index text-center">Quantidade</th>
                    <th  class="tr_table_index text-center">Preço</th>
                    <th  class="tr_table_index text-center">Estrelas</th>
                    <th  class="tr_table_index text-center">Promoção</th>
                    <th  class="tr_table_index text-center">Valor da promoção</th>
                    <th  class="tr_table_index text-center">Editar</th>
                    <th  class="tr_table_index text-center">Excluir</th>
                </tr>
            </thead>
            <tbody>
                <% @produtos.each do |produto| %>
                    <tr class="<%= cycle("odd", "even") -%>">
                        <td class="text-center width-60px"> <%= produto.id %> </td>
                        <td class="width-150px"> <%= link_to produto.nome, produto_path(produto), class: 'link-azul' %> </td>
                        <td class="width-150px"> <%= produto.descricao %> </td>
                        <td class="width-150px"> <%= produto.created_at.strftime("%d/%m/%Y")  %> </td>
                        <td class="width-150px"> <%= produto.data_fabricacao.strftime("%d/%m/%Y") %> </td>
                        <td class="width-150px"> <%= produto.data_validade.strftime("%d/%m/%Y") %> </td>
                        <td class="width-150px"> <%= produto.codigo_de_barras %> </td>
                        <td class="width-150px"> <%= produto.quantidade %> </td>
                        <td class="width-150px"> <%= produto.preco %> </td>
                        <td class="width-150px"> <%= produto.estrela %> </td>
                        <td class="text-center width-60px"> <%= produto.promocao ? ico_yes(class: 'fa-14') : ico_no(class: 'fa-14')   %> </td>
                        <td class="width-150px"> <%= produto.valor_promocao %> </td>
                        <td class="text-center width-60px"><%= link_to(fa_icon('pencil'), edit_produto_path(produto), class:'pencil') %></td>
                        <td class="text-center width-60px"><%= link_to(fa_icon('trash'), produto_path(produto), method: :delete, data: { confirm: 'Deseja excluir este usuário permanentemente?' }, class: 'trash' ) %></td>
                    </tr>
                <% end %>
            </tbody>
        <% end %>
    </table>
</div>