<div class="form-login">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="<%=image_path("logo2.jpeg")%>"
                            class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <%= form_tag(logar_path) do %>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><%= fa_icon "user" %></span>
                            </div>
                            <%= text_field_tag :login, nil, class:'form-control input_user', placeholder: "Login" %>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><%= fa_icon "key", style: 'width: 12px!important' %></span>
                            </div>
                            <%= password_field_tag :senha, nil, class:'form-control input_pass', placeholder: "Senha"  %>
                        </div>
                        <div class="form-group" style="margin-bottom: 0px!important">
                            <div class="custom-control custom-checkbox">
                                <%= check_box_tag :conectado, class: 'custom-control-input', id: 'customControlInline' %>
                                <label class="" style="margin-top: 5px!important" for="customControlInline">Lembrar senha</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center login_container">
                            <p class="btn login_btn"> <%= submit_tag 'Entrar', class:'btn-entrar' %> </p>
                        </div>
                    <%end %>
                </div>
                <div>
                    <div class="d-flex justify-content-center links">
                        Não possui uma conta? <%= link_to 'Cadastre-se', new_usuario_path(), class: 'ml-2' %>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>