<div class="conteudo">
    <div class="div-cabeca">
        <div class="label-org"> Usuário: (<%= @usuario.nome %>) </div>
        <div class="botoes-org" style="<%= "margin-right: 5px; width: 68px" unless @usuario_logado != nil && (@usuario_logado.admin || @usuario_logado.gerente) %>">
            <% if @usuario_logado != nil && (@usuario_logado.admin || @usuario_logado.gerente) %>
                <%= link_to 'Excluir', usuario_path(@usuario.id), data: { confirm: 'Deseja excluir este usuário permanentemente?' }, method: :delete, class:'btn btn-danger' %>
            <% end %>
            <%= link_to 'Editar', edit_usuario_path(@usuario.id, { show: "show"}), class:'btn btn-light' %>
            <% if @usuario_logado != nil && (@usuario_logado.admin || @usuario_logado.gerente) %>
                <%= link_to 'Novo registro', new_usuario_path({ show: "novo", usuario: @usuario}), class:'btn btn-success' %>
            <% end %>
        </div>
    </div>
    <table class="tabela-lado-lado mt-12px">
        <tbody>
            <tr>
                <td class="td-index-esquerda"> Nome: </td>
                <td class="td-index-direita"> <%= @usuario.nome %> </td>
            </tr>
            <tr>
                <td class="td-index-esquerda"> Login: </td>
                <td class="td-index-direita"> <%= @usuario.login %> </td>
            </tr>
            <tr>
                <td class="td-index-esquerda"> Email: </td>
                <td class="td-index-direita"> <%= @usuario.email %> </td>
            </tr>
            <tr>
                <td class="td-index-esquerda"> Data de nascimento: </td>
                <td class="td-index-direita"> <%= @usuario.data_de_nascimento.strftime("%m/%d/%Y") %> </td>
            </tr>
            <tr>
                <td class="td-index-esquerda"> Telefone: </td>
                <td class="td-index-direita"> <%= @usuario.telefone %> </td>
            </tr>
            <% if @usuario.empresa_id != nil %>
                <tr>
                    <td class="td-index-esquerda"> Empresa: </td>
                    <td class="td-index-direita"> <%= Empresa.where(id: @usuario.empresa_id).first.nome %> </td>
                </tr>
            <% end %>
            <% if @usuario_logado != nil && @usuario_logado.admin || @usuario_logado.gerente %>
                <tr>        
                    <td class="td-index-esquerda"> Gerente: </td>
                    <td class="td-index-direita"> <%= @usuario.gerente ? ico_yes(class: 'fa-14') : ico_no(class: 'fa-14')   %> </td>
                </tr>            
                <tr>
                    <td class="td-index-esquerda"> Administrador: </td>
                    <td class="td-index-direita"> <%= @usuario.admin ? ico_yes(class: 'fa-14') : ico_no(class: 'fa-14')  %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>