<%= form_for @empresa, validate:true, html: { multipart: true }  do |u| %>

    <% if @empresa.errors.any? %>
        <div class="fundo_erro">
            <h2 class="text-center">Revise as informações abaixo: </h2>
            <p> </p>
            <ul>
            <% @empresa.errors.full_messages.each do |msg| %>
            <li><%= msg.humanize %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
      
    <table style="width: 100%;">
        <tbody style="width: 100%;">        
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :nome, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :nome, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :razao_social, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :razao_social, class: 'form-control focus-padrao', style: 'width: 100%;' %>
                </td>
            </tr>  
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :sigla, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :sigla, class: 'form-control focus-padrao', style: 'width: 100%;' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :logo, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.file_field :logo, class: 'focus-padrao', style: 'width: 100%; font-size: 13px' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label "CNPJ", class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :cnpj, class: 'form-control focus-padrao cnpj', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :telefone, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :telefone, class: 'form-control focus-padrao phone_with_ddd', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :email, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :email, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :pais, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :pais, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :estado, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :estado, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :cidade, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :cidade, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :rua, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :rua, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :numero, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :numero, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :complemento, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :complemento, class: 'form-control focus-padrao', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :cep, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px">
                    <%= u.text_field :cep, class: 'form-control focus-padrao cep', style: 'width: 100%' %>
                </td>
            </tr>
            <tr>
                <td class="text-right alinhamento-label-form">
                    <%= u.label :ativo, class: 'text-right', style: 'width: 170px' %>
                </td>
                <td class="pb-6px pt-9px">
                    <%= u.check_box :ativo, class: 'focus-check' %>
                </td>
            </tr>          
        </tbody>
    </table>

    <hr class="hr-system-100por">

    <div class='width-100por text-center'>
        <%= u.submit 'Cadastrar', class: 'text-center btn botao-cor-padrao' %>
    </div>

<% end %>

<script>
    $('.cnpj').mask('00.000.000/0000-00', {placeholder: "00.000.000/0000-00"});
    $('.phone_with_ddd').mask('(00) 00000-0000', {placeholder: "(00) 00000-0000"});
    $('.cep').mask('00000-000', {placeholder: "00000-000"});
</script>