<div class="topo-system">
    <%# sistema = Empresa.where(id: @usuario_logado.empresa_id).first.sistema if @usuario_logado != nil %>
    <%# sistema if sistema %>
    <%# "Sistema de gestão e qualidade da Pãodaria(1.0.0)" if sistema == nil %>
    <%= "Sistema de Gestão e Qualidade do Bar dos véio(1.0.0)"%>
</div>
<nav class="main-navigation fundo-header">
    <div class="navbar-header animated fadeInUp">
        <%= link_to '', home_index_path(), class: 'navbar-brand logo-img' %>
    </div>
    <ul class="nav-list">
        <li class="nav-list-item">
            <%= link_to 'Inicio', home_index_path(), class: 'nav-link' %>
        </li>
        <li class="nav-list-item">
            <%= link_to 'Loja', loja_path(), class: 'nav-link' %>
        </li>
        <% if @usuario_logado != nil %>
            <% if @usuario_logado.admin || @usuario_logado.gerente %>
                <li class="nav-list-item">
                    <%= link_to 'Cadastros administrativos', cadastros_index_path(), class: 'nav-link' %>
                </li>
            <% end %>
        <% end %>
        <li class="nav-list-item">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="#" class="search_icon"><%= fa_icon "search" %></a>
                    </div>
                </div>
            </div>
        </li>
        <% if cookies[:id] == nil %>
            <li class="nav-list-item float-right">
                <%= link_to 'Entrar', login_path(), class: 'nav-link' %>
            </li>
        <% else %>
            <li class="nav-list-item float-right" style="margin-right: 20px;">
                <div class="btn-group" style="margin-top: 10px!important">
                    <button type="button" class="btn btn-padrao width-50px"><%= @usuario_logado.nome %></button>
                    <button type="button" class="btn btn-padrao dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" style="padding-left: 8px!important">
                    </button>
                    <div class="dropdown-menu ml-118px">
                        <%= link_to 'Minha conta', usuario_path(@usuario_logado), class: 'dropdown-item background-color-padrao color-padrao drop-first-list' %>
                        <%= link_to 'Sair', sair_path, class: 'dropdown-item background-color-padrao color-padrao drop-last-list'%>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</nav>